<dialog></dialog>
<div class="play-area" [ngStyle]="{ 'background-image': backgroundImage }">
    <div class="message">
        <div class="surrender-wrapper" (click)="buttonClick(); openAbandonDialog()">
            <button class="surrender">{{ abandonLabel }}</button>
        </div>
        <div id="message-container"></div>
        <form id="send-container">
            <textarea type="text" id="message-input" rows="1" maxlength="200"></textarea>
            <button type="submit" id="send-button" (click)="buttonClick()">Envoyer</button>
        </form>
    </div>
    <div class="question-box">
        <h1 class="question-number">Question {{ questionIndex + 1 }} ({{ pointQuestion }} points):</h1>
        <div class="question-field">{{ textQuestion }}</div>
        <div *ngIf="isQCM" class="answer-field">
            <button
                #answer
                class="answer"
                *ngFor="let each of choice; let i = index"
                [class.isBadAnswer]="!rightAnswer && showResults"
                [class.isGoodAnswer]="each.isCorrect && showResults"
                [class.wasSelected]="showResults && selectedChoice[i]"
                [class.selected]="selectedChoice[i]"
                [disabled]="disable"
                (click)="onSelected(i)"
            >
                <span>{{ i + 1 }}. {{ each.text }}</span>
            </button>
        </div>
        <div *ngIf="isQRL">
            <div class="qrl-answer-field">
                <textarea
                    #textArea
                    class="textarea"
                    type="text"
                    oninput='this.style.height = ""; this.style.height = Math.min(this.scrollHeight + 10, 300) + "px"'
                    maxlength="200"
                    (input)="valueChange(longAnswer)"
                    [ngModelOptions]="{ standalone: true }"
                    [(ngModel)]="longAnswer"
                    placeholder="{{ qrlPlaceholderLabel }}"
                    [disabled]="disable"
                    (keydown.enter)="confirmAnswer()"
                    autofocus
                >
                </textarea>
                <span id="character-count">{{ remainingTextCount }}</span>
            </div>
        </div>
        <button class="button-wrapper-confirm-button" (click)="buttonClick(); confirmAnswer()" [disabled]="disable">
            <button [class.confirm-button]="!disable" [class.shrink-on-active]="!disable" [class.disabled]="disable">{{ confirmLabel }}</button>
        </button>
    </div>
    <div class="side-info">
        <div class="time-points-box">
            <span class="added-points" *ngIf="isQCM && showResults" [class.zero]="!rightAnswer" [class.hundred]="rightAnswer"
                >+{{ rightAnswer && needBonus ? pointQuestion * 1.2 : rightAnswer ? pointQuestion : 0 }} points!</span
            >
            <span class="added-points hundred" *ngIf="isQRL && needPointsQRL">+{{ pointQuestion }} points!</span>
            <div class="total-points">
                <div>{{ pointJoueur }} points</div>
            </div>
            <div class="time" [style.color]="time! > 10 ? 'black' : 'rgba(144, 28, 51)'">{{ time }}s</div>
        </div>
        <p class="pointsQRL" *ngIf="needBonus && showResults">{{ bonusLabel }}</p>
        <div class="pointsQRL" *ngIf="needPointsQRL">{{ pointsLabel }}</div>
    </div>
</div>
